.about {
    margin: 20px;
    padding: 20px;
    border: 1px solid #aaa;
    background: #f9f9f9;
}

.motto {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.about-photo {
    width: 100%;
    max-width: 900px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}
